.custom-header
{
     background-color: #EBF7F4;
     text-align: center; /* Centra el contenido del encabezado */
     padding: 20px; /* Añade un relleno alrededor del encabezado */
     border-radius: 10px; /* Añade esquinas redondeadas al borde */
}

.formAddPet
{
    padding: 34px;
}

.botones
{
    padding: 40px 20px 10px 0;
}


.textBtn
{
    color: white;
    text-decoration: none; /* Quita el subrayado */
}

.form-group
{
    padding: 10px;
}

.botonFlecha
{
    color: black;
}
